* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: grey;
}
.inactive {
  display: none;
}
.active {
  display: block;
}
.animacion {
  animation: scale-in-ver-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1;
  }
}

.animacionEnter {
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.animacionEnterContacts {
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* HEADER */

.header {
  height: auto;
  background: url("../img/fondoheader1.jpg");
  background-size: cover;
  background-position: center;
}

.header .headerNav {
  background-color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  position: fixed;
  width: 100%;
  padding: 25px;
}

.header .headerNav .containerTitlePrimary a {
  color: black;
  text-decoration: none;
  font-size: 1.8rem;
}

.containerNavegation button {
  color: rgb(0, 0, 0);
  padding-left: 20px;
  font-size: 1.8rem;
  text-decoration: none;
  border: none;
  background-color: white;
  position: relative;
}
.containerNavegation button:hover {
  cursor: pointer;
}

/**/
.main {
  height: 100vh;
  width: 100vw;
}
.main .mainDiv1 {
  background-image: url("./Img/Fondo-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.main .mainDiv1 .div1Section1 {
  background-color: rgba(204, 143, 110, 0.456);
  height: 100vh;
}
.section1Div1 {
  padding-top: 115px;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
/*TITLE*/
.containetTitle {
  max-width: 90%;
  padding-top: 150px;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.section1Div1 h1 {
  text-align: center;
  font-size: 4rem;
}
.section1Div1 h3 {
  text-align: center;
  padding: 15px 30px;
  font-size: 3rem;
}

/*SOBRE MI*/
.containerSobreMi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerInfo {
  background-color: white;
  width: 80%;
  height: auto;
  max-height: 510px;
  display: flex;
  border-radius: 15px;
}
.containerInfo .infoImg {
  width: 90%;
  padding: 10px;
}
.containerInfo .infoImg img {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  height: 100%;
  width: 100%;
}
.containerInfo .infoContent {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.containerInfo .infoContent h2 {
  font-size: 2.5rem;
  padding: 10px;
}
.containerInfo .infoContent p {
  font-size: 2rem;
  padding: 0 10px 10px 0;
}

/*Trabajos*/
.Jobs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.Jobs .sectionJobs {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 85%;
  height: auto;
  max-height: 530px;
}
.Jobs .sectionJobs .sectionTitleJobs h2 {
  font-size: 2.8rem;
}
.Jobs .sectionJobs .imgJobs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Jobs .sectionJobs .imgJobs .img-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.Jobs .sectionJobs .imgJobs .img-title img {
  height: 25px;
  margin: 10px 15px;
}
.Jobs .sectionJobs .imgJobs .JobsImg {
  width: 70%;
}
.Jobs .sectionJobs .contaiener-circle button {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}
.Jobs .sectionJobs .contaiener-circle button:hover {
  cursor: pointer;
}

/*CONTACTO*/
.containerPrincipalContact .contact {
  position: absolute;
  background-color: white;
  height: 500px;
  width: 70px;
  right: 15px;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.containerPrincipalContact .contact .icon i {
  font-size: 3rem;
}
.containerPrincipalContact .contact a:hover {
  transform: scale(1.2, 1.2);
}

.linkedIn {
  color: black;
}
.instagram {
  color: black;
}
.github {
  color: black;
}
.whatsapp {
  color: black;
}

.linkedIn:hover {
  color: #0077b5;
  cursor: pointer;
}
.instagram:hover {
  color: rgb(197, 50, 148);
  cursor: pointer;
}
.github:hover {
  color: rgb(215, 215, 228);
  cursor: pointer;
}
.whatsapp:hover {
  color: #25d366;
  cursor: pointer;
}

/**/
@media (max-width: 900px) {
  .containerPrincipalContact .contact {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 410px;
    right: 0;
    top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 675px) {
  .containetTitle {
    padding-top: 0;
  }
  .containerInfo .infoContent p {
    font-size: 1.6rem;
  }
  .containerIconBurger {
    display: block;
  }
  .containerIconBurger i {
    font-size: 2rem;
  }
  .containerNavegationMobile {
    position: absolute;
    background-color: white;
    height: 60px;
    width: 60%;
    min-width: 320px;
    top: 70px;
    right: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .containerNavMobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  .containerNavegationMobile button {
    border: none;
    font-size: 1.8rem;
    background-color: white;
  }
  .containerPrincipalContact .contact {
    min-width: 320px;
  }
  .containerNavegation {
    display: none;
  }
  .section1Div1 {
    justify-content: center;
  }
}

@media (max-width: 570px) {
  .containerInfo .infoContent p {
    font-size: 1.6rem;
    padding: 0;
  }
  .containerInfo {
    flex-direction: column;
    align-items: center;
  }
  .containerInfo .infoImg {
    width: 70%;
  }
  .containerInfo .infoImg img {
    border-radius: 15px;
  }
  .containerInfo .infoContent h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 430px) {
}

.containerMobileJobs {
  overflow-x: scroll;
}
.JobsMobile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.JobsMobile .sectionJobsMobile {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 85%;
  height: auto;
  max-height: 530px;
}
.JobsMobile .sectionJobsMobile .sectionTitleJobsMobile h2 {
  font-size: 2.8rem;
}
.JobsMobile .sectionJobsMobile .imgJobsMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.JobsMobile .sectionJobsMobile .imgJobsMobile .img-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.JobsMobile .sectionJobsMobile .imgJobsMobile .img-title img {
  height: 25px;
  margin: 10px 15px;
}
.JobsMobile .sectionJobsMobile .imgJobsMobile .JobsMobileImg {
  width: 70%;
}
